.promo{
    height: 1000px;
    background: url('/img/background.jpg') center center/cover no-repeat;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 5px 0 5px 0;
    border-radius: 5px;
    margin-left: 150px;
    width: 300px;
    height: 100px;
    cursor: pointer;
    background-color: rgb(0, 135, 245);
}

.popUpWindow {
    display: none;
    margin-left: 250px;
    margin-top: -600px;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 5px 0 5px 0;
    border-radius: 5px;
    border-bottom: 2px solid hsla(0, 0%, 100%, .4);
    border-color: black;
    font-size: 40px;
    width: 400px;
    height: 200px;
}
